header {
	display: flex;
	justify-content: space-between;
	background-color: yellow;
}

section {
	display: flex;
}

section .left {
	display: flex;
	background-color: black
}

section .right{
	display: flex;
}

footer